<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="myFilePond.js"></script>
    <title>FilePond</title>
  </head>
  <body>
    <h1>FilePond Testing</h1>
    <div class="form-cont">
      <form action="/" method="POST" id="form">
        <input type="file" name="image" class="filepond" id="inputPond" />
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
        <input id="submit-btn" type="submit" value="Submit" />
      </form>
      <button id="proxy-btn">Press</button>
    </div>
  </body>
</html>
